# Example of how your server.cfg should look. 
# Credit JJW#6744
# Steam Web API.  Visit https://steamcommunity.com/dev/apikey to generate your own.
set steam_webApiKey "WebApiKey Goes Here"

# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Ace! system admins
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:ADDYOURSTEAMHEX group.admin # Add your admin's SteamID here.  This line can be duplicated for additional admins.

# Vanilla
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager

ensure hardcap
ensure rconlog
ensure scoreboard

# drp core 
ensure DatabaseAPI
ensure externalsql
ensure drp_core
ensure drp_death
ensure drp_medical

# drp 
ensure drp_bank
ensure drp_clothing
ensure drp_customs
ensure drp_garages
ensure drp_jobcore
ensure drp_id


# Set this to 0 to disallow scripthook. Set it to 1 to make it easier to hack your server.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.  You likely don't need this.
#rcon_password changeme

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "roleplay"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "root-AQ" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "default server found "

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit
onesync_enabled 1
sv_maxclients 32

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey "Your Licence Key Goes Here!!!"

restart sessionmanager
